<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.sirio.sbs" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application

        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".fragments.MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".fragments.SubActivity"
            android:label="@string/title_activity_sub" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".fragments.MainActivity" />
        </activity>
        <activity
            android:name=".CursosActivity"
            android:label="@string/title_activity_cursos" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".fragments.MainActivity" />
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".MisCursosActivity"
            android:label="@string/title_activity_mis_cursos" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".fragments.MainActivity" />
        </activity>
        <activity
            android:name=".BeneficiosActivity"
            android:label="@string/title_activity_beneficios" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".fragments.MainActivity" />
        </activity>
        <activity
            android:name=".MiPerfilActivity"
            android:label="@string/title_activity_mi_perfil" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".fragments.MainActivity" />
        </activity>

    </application>

</manifest>
